@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Sometype+Mono:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

html.no-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body,
html {
  height: 100%;
  flex-direction: column;
  scroll-behavior: smooth;
  font-family: "Sometype Mono", monospace;
}

li {
  list-style-type: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__nav li {
  margin-right: 30px;
}

.header__nav li:last-child {
  margin-right: 0px;
}

.logo {
  width: 200px;
  height: 120px;
}

.ico-img {
  width: 40px;
  height: 40px;
  margin-right: 30px;
}

.ico-img:last-child {
  margin-right: 15px;
}

.main-photo {
  width: 450px;
  height: 240px;
}

.main-photo {
  margin-right: 100px;
}

.license-img {
  width: 350px;
  height: 500px;
}

.intro {
  display: flex;
  align-items: center;
}

.description {
  max-width: 800px;
}

.description-width {
  margin-right: 100px;
}

.about {
  display: flex;
  text-align: center;
  margin-bottom: 50px;
}

.about__container {
  margin-bottom: 50px;
}

.about-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 25px;
}

.about__container {
  padding: 25px;
}

.about-video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 1000px;
  border-width: 0;
  outline-width: 0;
}

.advantages {
  max-width: 1680px;
  flex-direction: column;
  align-items: center;
}

.advantages-container {
  display: grid;
  grid-template-columns: repeat(3, 270px);
}

.advantages-items {
  width: 70px;
}

.auto-img {
  width: 250px;
  height: 170px;
  border-radius: 5px;
}

.place-val {
  display: flex;
  flex-direction: column;
}

.place-val-img {
  width: 40px;
  height: 48px;
  margin-right: 30px;
}

.place-val-box {
  display: flex;
  align-items: center;
}

.order-btn {
  padding: 7px;
  border: 1px solid #000;
  max-width: 100px;
}

.order-btn:hover {
  background-color: #000;
  color: #fff;
  transition: all ease-in-out 0.2s;
}

.main__container {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
}

.advantages {
  margin: 50px 50px;
}

.advantages-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 25px;
}

.advantages-width {
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  gap: 40px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-ico {
  width: 70px;
  height: 70px;
}

.gallery {
  margin: 50px 50px;
}

#gallery-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 25px;
}

.gallery-width {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  margin: 0 auto;
  justify-content: center;
  gap: 100px;
}

.gallery-item {
  max-width: 250px;
  position: relative;
  border-radius: 5px;
  padding: 5px;
}

.gallery-item:hover {
  -webkit-box-shadow: 4px 4px 25px 4px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 25px 4px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 25px 4px rgba(34, 60, 80, 0.2);
  transition: all ease-in-out 0.2s;
}

.gallery-item-time-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  border-top: 1px solid black;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__info {
  flex-direction: column;
}

.footer__social {
  flex-direction: column;
}

.ico-img-footer {
  width: 40px;
  height: 40px;
  margin: 10px 10px;
}

.footer__info p {
  margin-bottom: 40px;
}

.footer__info p:last-child {
  margin-bottom: 0;
}

.faq {
  margin-bottom: 40px;
}

.faq__container {
  width: 100%;
  max-width: 1000px;
}

.faq-item {
  border: 1px solid black;
  margin-bottom: 5px;
}

.faq-text {
  display: none;
  padding: 10px 15px;
}

.faq-title {
  display: block;
  cursor: pointer;
  padding: 10px 15px;
  position: relative;
}

.faq-input {
  width: 0;
  height: 0;
  appearance: none;
  position: absolute;
}

.faq-input:checked + .faq-text {
  display: block;
}

#faq-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 25px;
}

.dogovor-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 25px;
}

.politika-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 25px;
}

.swiper {
  width: 100%;
  max-width: 1680px;
  height: 100%;
  display: flex;
  text-align: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  text-align: center;
}
.swiper-slide img {
  object-fit: cover;
}

/* CARS PREVIEW */

.car-info-width {
  max-width: 1400px;
  margin: 0 auto;
}

.specifications {
  max-width: 1010px;
  margin: 0 auto;
}

.specifications__container {
  width: 100%;
}

.cars-preview-img {
  width: 711px;
  height: 338px;
  margin-bottom: 25px;
}

.preSwiper {
  max-width: 800px;
}

.car-name {
  font-size: 35px;
  text-align: center;
  margin: 25px 0;
}

.specifications-title {
  font-size: 30px;
}

.preview-price {
  font-size: 25px;
  margin-top: 25px;
}

.preview-deposit {
  font-size: 25px;
  margin: 25px 0;
}

.specifications-text p {
  margin-bottom: 0;
}
/* CARS PREVIEW */

/* КАЛЕНДАРЬ */
.form-control {
  width: 100%;
  max-width: 350px;
}
/* КАЛЕНДАРЬ */

.car-info {
  display: flex;
}

.quiz {
  display: flex;
  flex-direction: column;
}
/* ДАТА АРЕНДЫ */
.rent-date-title {
  font-size: 25px;
}
/* ДАТА АРЕНДЫ */

/* МЕСТО АРЕНДЫ */
.select-title {
  font-size: 25px;
}

.choices {
  width: 340px;
}
/* МЕСТО АРЕНДЫ */

.driverYY::after {
  content: "+1500";
}

.submit-btn {
  background-color: rgb(46, 46, 255);
  padding: 5px;
  font-size: 25px;
  color: #fff;
  border-radius: 30px;
  margin: 25px 0;
}
